@use "sass:map";
@use "../../styles/palettes";

.achievements-table {
  width: 100%;
  margin-bottom: 1em;

  .col-name {
    width: 10em;
  }
  .col-desc {
    width: auto;
  }
  .col-pack {
    width: 6em;
  }
  .col-cat {
    width: 6em;
  }
  .col-pt {
    width: 2em;
  }
  .col-tgl {
    width: 2em;
  }

  .showcased {
    background-color: map.get(palettes.$simsation-primary, 50);

    td {
      font-weight: bold;
      color: black;
    }
  }

  .mat-header-cell {
    background-color: #000;
  }

  .mat-header-cell,
  .mat-cell {
    font-size: 1em;
    padding: 1em 1em 1em 1em;
  }

  .mat-header-cell {
    font-weight: bold;
  }
}

.tiny-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.tiny-details {
  display: flex;
  justify-content: space-between;
  align-items: center;

  table {
    width: 100%;
  }
}
