.app {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  max-width: 60em;
  padding: 1em;
  margin: auto;
}

.logo-container {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}

.logo {
  height: 3rem;
}

@media only screen and (max-width: 60em) {
  .logo {
    height: 2.5rem;
  }
}

@media only screen and (max-width: 40em) {
  .logo {
    height: 2rem;
  }
}

@media only screen and (max-width: 20em) {
  .logo {
    height: 1.5rem;
  }
}
